{% extends "tracker/base.html" %}
{% load static %}

{% block content %}
<section class="site-blocks-cover overflow-hidden bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="intro-text">
                    <h1>ALIŞVERİŞ DOSTUNUZ<span class="d-md-block">HİZMETİNİZDE</span></h1>
                    <p class="mb-4">We always try to provide your dog the best<span class="d-block"> services.</p>
                </div>
            </div>
            <div class="col-md-5 align-self-end text-center text-md-right">
                <img src="{% static "tracker/images/dogger_img_1.png" %}" alt="Image" class="img-fluid cover-img">
            </div>
        </div>
    </div>
</section>
{% endblock %}